/* main.css */
/* Color Theme
#FAED26 - Text
#27202a - Color 1
#5A5569 - Color 2
#9D8D8F - Color 3
#9B786F - Color 4 */

body {
    background-color: #27202a;
    color: #FAED26;
    margin: 0;
}

.footer {
    background-image: linear-gradient(rgba(39, 32, 42, 0), rgba(0,0,0,1) 70%);
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

a:active, a:visited, a:link {  /* Global links formatting*/
    color: #FAED26;
}

a:hover {
    color: #e9e056;
}

h1, h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    /* outline: 1px solid red; */
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.nav {
    background-color: #27202a;
    /* outline: 1px solid rgb(25, 0, 255); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky; /* Required by safari */ 
    position: sticky;
    top: 0;
}

.logo {
    /* outline: 1px solid red; */
    padding: 20px 80px;
}


.main {
    /* outline: 1px solid rgba(208, 255, 0, 0.948); */
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
  
}
/*TODO check how to add extra selectors*/
.content {
    /* outline: 1px solid rgba(208, 255, 0, 0.948); */
    min-height: 200px;
}


